 .cart{
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-between;
 }
 
 .cart-header{
  display: flex;
  justify-content: space-between;
 }

 .button-header{
  color: #ff5858;
  border: 1px solid #ff5858;
  height: 40px;

 }
.footer-cart{
  text-align: center;
}
 #bold{
  font-weight: bold;
 }

 .footer-cart-button{
  width: 100%;
  background-color: #ff5858;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: large;
 }