
  .product{
    display: flex;
    font-weight: 400;
  }
.product-image{
    width: 500px;
    height: 70vh;
    transition: transform .2s;
}
.product-image:hover{
    transform: scale(1.2);
  }

  .overflow{
    overflow: hidden;
  }

  .product-information{
    margin-left: 100px;
  
  }
  .price-font{
    font-weight: 500;
    font-size: 1.1em;
  } 

  .product-font{
    font-weight: 500;
    font-size: 0.89em;
  }

  #product-circle{
    display: flex;
    align-items: flex-start;
   
    margin-left: -45px;
    margin-top: -17px;
  }

  #small-circle{
    width: 23px;
    height: 23px;
  }

  #product-id{
    margin-top: -28px;
    font-weight: 200;
    font-size: 0.85em;
  }
  
   .product-size{
    color: #ff5858;
  } 
 #product-header{
  font-weight: 600;
 }
  .product-box{
    width: 40px;
    height:40px;
    border: 1px solid black;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;

  }
  .product-wraper{
    display: flex;

  }
.product-button{
    width: 65vh;
    height: 50px;
    color: white;
    background-color: #ff5858;
    font-size: large;
    border: none;
    margin-top: 1em;
    font-weight: 600;

   
}
.product-button:hover{
  background-color: #ff3535;
}

.more-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: -9px;

}

.more-info h4{
  font-weight: 600;
  font-size: 1.5em;
}
