.footer{
    background-color: #ff5858;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 120px;

}

.bottom-footer{
    display: flex;
    justify-content: space-evenly;
    
}