.reclamation-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
    /* position: relative; */
   
}

.reclamation-wrapper input{
    width: 48vw;
    height: 2.7em; 
    outline-color:  #ff5858; 
    outline-width: 0.2px;
    border: 1px solid rgba(0, 0, 0, 0.262);
    border-radius: 0%;
    /* position: relative; */
    margin: 10px;
  
}
.reclamation-wrapper input:focus{
    outline: 0.1rem ridge #e99999;
}

/* .reclamation-wrapper input::placeholder{
  position: absolute;
  top: 20px;
} */

/* .reclamation-label{
    position:absolute;
    width: 5px;
    top: 240px; */

    /* top: 20px; */
    /* left: 100px;
    top: 40px;
    z-index: 5; */

/* } */



#reclamation-header{
    font-weight: 500;
    font-size:  2.525rem;
    color: rgba(0, 0, 0, 0.792);
}
#reclamation-btn{
    background-color:#ff5858;
    color: white;
    border: none;
    width: 49vw;
    height: 2.3em;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
}

#reclamation-btn:hover{
background-color: #ff3535;
}