.kategories-list{
    list-style-type: none;
    text-align: left;
    cursor: pointer;
   
}

.kategories-list li {
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 3px;
}

@media (max-width: 1000px){
    .kategories-list{
     display: none;
    }
 }
