.pagination{
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
  }
  
  .pagination a {
    color: #ff5858;
    float: left;
    text-decoration: none;
    margin: 4px;
  
  }
  .pagination a:hover{
    background-color: #FF7979;
    color:#fff;
  }
  .link {
     width: 2.3em;
    height: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
     margin:0 auto;
     font-size: 0.8em;
     color: #fff;
      
  }
  
  .pagination a.active {
    background-color: #ff5858;
    color: white;
  
  }
  #one{
   padding: 1px
  }
  
  .pagination a:hover(.active) {background-color: #ddd;}

  .pagination-icons{
    color: #ff5858;
    font-size: 1.2em;
    margin-right: 12px;
  }

  .pagination-numbers{
    border: 1px solid #ff5858;
    width: 2.6em;
    height: 2.3em;
    color: #ff5858;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.pagination-left{
  font-size: 0.78em;
  color: #ff5858;
  margin-right: 1em;
}