.products{
    width: 600px;

}
.product-list{
    list-style: none;
    text-align: left;
    line-height: 1.7;  

}

.product-list li {
   font-size: 1em;
    font-weight: 400;
    margin-left: 10px;
   
}