.article{
    height: 340px;
    width: 250px;
    /* margin: 20px; */
    text-align: left;
    /* margin-right: 50px; */
    margin-left: 30px;
    /* margin-bottom: 50px; */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  
  }
  
  .article h3{
    text-align: centar;
  
  }
  
  .images{
    width: 210px;
    height: 240px;
    border-radius: 9px 9px 9px 9px;
    transition: transform .2s;
  }
  .images:hover{
    transform: scale(1.5);
  }

  .overflow{
    overflow: hidden;
  }
  .blog-list{
    display: flex;
  
    flex-wrap: wrap;
    /* margin-left: 100px; */
  }
  
  .section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   line-height: 0.1;
   margin-top: 10px;

  }
  .section h5 {
    margin: -1px;
  }

  .discount{
    background-color: #f3364C;
    color: white;
    width: 112px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: relative; */
    /* float: right;
    top: 20px; */
    /* position: relative; */
    left: 100px;
    top: 40px;
    /* z-index: 1; */
    /* margin-bottom: -2px; */
    
  }
 
  
  @media(max-width:778px){
  
  }
  
  
  @media(max-width:500px){
   .article{width: 185px;}
  }