.wrapper{
  display: flex;
  flex-direction: row;
  
}
.shirt-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    justify-content: space-between;

  }

  .product-section{
    margin-top: 30px;
    width: 210px;
    text-align: center;
  }

  @media(max-width: 1000px){
     .shirt-list{
      margin-left: -4em;
     }
  }
  @media(max-width: 750px){
    .shirt-list{
    justify-content: center;
    }
 }


  
