.article{
    height: 340px;
    width: 200px;
    text-align: left;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    margin-bottom: 50px;
  }
  
  .article h3{
    text-align: centar;
  }
  
  .images{
    width: 210px;
    height: 240px;
    border-radius: 9px 9px 9px 9px;
    transition: transform .2s;
  }
  .images:hover{
    transform: scale(1.5);
  }

  .overflow{
    overflow: hidden;
  }
  .blog-list{
    display: flex;
  flex-wrap: wrap;

  }
  
  .section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   line-height: 0.1;
   margin-top: 10px;

  }
  .section h5 {
    margin: -1px;
  }

  .discount{
    background-color: #f3364C;
    color: white;
    width: 112px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
     top: 20px;
     left: 100px;
    top: 40px;
 
  }

  .circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 6px;
    border: 0.2px solid gray;

  }

  .color-circles{

    width: 16.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
    margin-bottom: 20px;
    
  }
 
  
  @media(max-width:778px){
  
  }
  
  
  @media(max-width:500px){
   .article{width: 185px;}
  }